.reg{
  background-color:cornflowerblue; 
  width: 30%; 
 padding-bottom: 2%;
  margin-left: 35%;
  margin-top: 10%;
  border: 5px black solid;
  padding-left: 5%;
  
  
}
body{
    background-color: blanchedalmond;
}
.display span {
  background-color: yellow;
  border-radius: 35%;
  border: 4px black solid;
  width: 25%;
}